.login {
	display: flex;
	min-height: 100vh;
	background: #e7e9ec;

	form {
		display: flex;
		max-width: 500px;
		width: 70vw;
		margin: auto;
		flex-direction: column;
		gap: 20px;
		align-items: center;

		img {
			margin-bottom: 30px;
		}

		div {
			display: flex;
			flex-direction: column;
			gap: 5px;

			&:last-of-type {
				width: 100%;
				display: grid;
				grid-template-columns: 1fr 1fr;
				justify-content: center;
			}
		}

		label {
			width: 100%;

			&::before {
				font: var(--fa-font-solid);
				content: "\f0e0";
				color: black;
				margin-right: 10px;
			}

			&:last-of-type::before {
				content: "\f023";
			}

			i {
				font-size: 18px;
				margin-right: 10px;
			}
		}

		input {
			border: none;
			outline: none;
			background: transparent;
			height: auto;
			width: 100%;
			border-bottom: 1px solid black;
			padding-bottom: 10px;
			font-size: 16px;
			border-radius: 0;

			&::placeholder {
				color: grey;
				font-size: 14px;
			}

			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus,
			&:-webkit-autofill:active {
				-webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
				-webkit-text-fill-color: #000 !important;
				transition: background-color 5000s ease-in-out 0s;
			}
		}

		button {
			width: 100%;
			padding: 5px 10px;
			background: black;
			color: white;
			cursor: pointer;
			border-radius: 10px;

			&[type="button"] {
				width: 100%;
				display: flex;
				justify-content: center;
				background: #f6f6f6;
				border: 1px solid rgb(209 213 219);
				color: black;
				gap: 10px;
				align-items: center;

				svg {
					width: 18px;
					height: 18px;
				}
			}
		}

		> p {
			font-size: 12px;
			cursor: pointer;
		}
	}
}